.flex-container {
    display: flex;
    flex-flow: row wrap;
<<<<<<< HEAD
    justify-content: space-between;
=======
    justify-content: space-evenly;
>>>>>>> 9bfe32d2aab169e205a8fef3a5066a18fe17ef13
    align-items: center;
}

.flex-item {
    flex-basis: 350px;
    box-sizing: border-box;
    -moz-box-sizing: border-box; 
    border: #eceded solid 2px;
    border-radius: 5px;
    padding: 1em;
    margin: 1em 
}

.listBox {
    
}