@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";


#root-flex{
    display: flex;
}

nav {
    flex: 1;
    flex-flow: column;        
    border-right: #eceded solid 3px;
    margin-right: 1em;
    display: flex;
}

main {
    flex: 11;
    padding: 2em;
}

.drawer{
    padding: 1em;
}
